:root {
    --main-color: #2e2f42;
    --desc-color: #434455;
    --main-violet-color: #4d5ae5;
    --white-color: #ffffff;
    --hover-focus-color: #404bbf;
    --footer-desc-color: #e7e9fc;
    --background-color: #f4f4fd;
}
h1,
h2,
h3, 
h4,
p {
margin-top: 0;
margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
body {
    font-family: "roboto", sans-serif;
    color: var(--main-color);
    background-color: var(--white-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
}
.subtitle {
    font-size: 20px;
    line-height: 1.2;
}
.desc {
    font-size: 16px;
    line-height: 1.5;
    color: var(--desc-color);
}
.btn {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
/* -------------HEADER--------------- */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.visually-hidden {
    white-space: nowrap;
    position: absolute;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    width: 1px;
}

.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-violet-color);
    font-family: "Raleway", sans-serif;
}
.header-logo {
    color: var(--main-color);
    margin-right: 76px;
}
.header-list {
    display: flex;
    gap: 40px;
}
.header-item {
}
.header-link {
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--hover-focus-color);
}
.header-adress {
}
.header-adress-list {
    display: flex;
    gap: 40px;
}
.header-adress-item {
}
.header-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--desc-color);
    font-style: normal;
}
.header-contacts:hover,
.header-contacts:focus {
    color: var(--hover-focus-color);
}
/* -------------HERO--------------- */
.hero {
    background-color: var(--main-color);
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-container {
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
}
.hero-btn {
    min-width: 169px;
    height: 56px;
    background-color: var(--main-violet-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid var(--main-color);
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-focus-color);
}
/* -------------FEAUTERS--------------- */
.feauters {
    padding-top: 120px;
    padding-bottom: 120px;
}
.feauters-list {
    display: flex;
    gap: 24px;
}
.feauters-item {
}
.feauters-subtitle {
    margin-bottom: 8px;
}
.feauters-desc {
}
/* -------------BENEFITS--------------- */
.benefits {
    padding-bottom: 120px;
}
.benefits-title {
    margin-bottom: 72px;
    text-align: center;
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-item {
    width: calc((100%-48px)/3);
}
/* -------------TEAM--------------- */
.team {
    background-color: var(--background-color);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: calc((100%-72px)/4);
}
.team-title {
    margin-top: 32px;
    margin-bottom: 72px;
    text-align: center;
}
.team-subtitle {
    margin-top: 32px;
    text-align: center;
}
.team-desc {
    margin-bottom: 32px;
    text-align: center;
}
/* -------------FOOTER--------------- */
.footer {
    background-color: var(--main-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
    color: var(--background-color);
    margin-bottom: 16px;
}
.footer-desc {
    color: var(--footer-desc-color);
    max-width: 264px;
}
/* -------------PORTFOLIO--------------- */
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-list-btn {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}
.portfolio-item-btn {
}
.portfolio-btn {
    background: var(--background-color);
    color: var(--main-violet-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    align-items: center;
}
.portfolio-btn:focus,
.portfolio-btn:hover {
    background: var(--hover-focus-color);
    color: var(--white-color);
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-border {
    border: 1px solid #E7E9FC;
}
.portfolio-subtitle {
    margin-bottom: 8px;
    margin-left: 16px;
    margin-top: 32px;
}
.portfolio-desc {
    margin-left: 16px;
    margin-bottom: 32px;
}
